body {
  background-color: black;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 400vh;
}

p {
  font-family: "Arvo", serif;
  font-weight: 400;
}

/* vw y vh para ancho y alto de pantalla */
.video_fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Escala el video para cubrir toda la pantalla */
  object-fit: cover;
  z-index: -1;
}

.fondo_expedition33 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-icon svg {
  transition: opacity 0.3s ease;
}

/* Ocultar el checkbox */
#menu-toggle {
  display: none;
}

/* Ocultar ícono de cerrar por defecto */
.icono-cerrar {
  display: none;
}

/* mostrar/ocultar íconos según estado del checkbox */
#menu-toggle:checked+.menu-icon .icono-abrir {
  display: none;
}

#menu-toggle:checked+.menu-icon .icono-cerrar {
  display: inline;
}

/* Lista del menú */
.menu-items {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  width: auto;
  /* Elimina ancho fijo */
  min-width: 180px;
  /* Asegura que no sea muy chico */
  padding: 8px 0;
}

.menu-items li {
  list-style: none;
  border-bottom: 1px solid #444;
}

.menu-items a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}

/* Mostrar menú cuando se activa el checkbox */
#menu-toggle:checked+.menu-icon+.menu-items {
  display: flex;
}

.imagenes-dos {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.imagenes-dos img {
  width: 100%;
  max-width: 50%;
  height: auto;
  box-shadow: 0 0 15px rgba(171, 207, 12, 0.1);
}

.resumenyimg_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
.lumiere_img{  
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.exp33_resumen {
width: 550px;
  margin-bottom: 50px;
  margin-left: 30px;
  padding: 60px 10px 10px 10px;
}
.lumiere_img {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 0px;
  width: 500px;
}


footer {
  color: rgb(249, 200, 136);
  background-color: rgb(59, 26, 89);
  width: auto;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
}