body{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    color: whitesmoke;
}









footer{
    color: rgb(249, 200, 136);
    background-color: rgb(59, 26, 89);
    width: auto;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}